li {
    font-size: 16px;
    display: inline-block;
    border: 1px solid black;
    height: 20px;
}

@media only screen and (orientation: portrait) {
    li {
        border: 1px solid red;
    }
}

@media only screen and (orientation: landscape) {
    li {
        border: 1px solid blue;
    }
}
